body{
    /* background-color: black; */
    font: 14px Outfit, sans-serif;
}
.container{
    display: inline-block;
    width: 100%;
}
.background1{
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_bg02.jpg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: -1;
}
.background2{
    position: absolute;
    left: 0;
    bottom: -40px;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 722px;
    z-index: 0;
}
@keyframes header-animation{
    from{
        background-color: none;
    }
    to{
        background-color: black;
    }
}
.overheader{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    position: fixed;
    z-index: 9999;
    justify-content: space-between;
    animation-name: header-animation;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.header{
    display: flex;
    width: 100%;
    padding: 15px 15px;
    color: white;
    max-width: 100%;
    justify-content: space-between;
}
.right{
    display: flex;
    margin-left: 0px;
}
.left{
    display: flex;
}
.center{
    display: flex;

}
.box:hover{
    color: #00C4F4;
    transition: 0.3s;
}
.box{
    display: flex;
    padding: 0px 30px;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    font-weight: bold;
}
.box1{
    display: flex;
    padding: 10px 30px;
    background-color: #00C4F4;
    width: 100px;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 130px;
    font-weight: bold;
    cursor: pointer;
}
.box1:hover{
    background-color: #564DCA;
    transition: 0.3s;
}
.box2{
    display: flex;
    padding: 0px 10px 0px 30px;
    align-content: center;
    flex-wrap: wrap;
    font: 16px Outfit, sans-serif;
}
i{
    cursor: pointer;
}
i:hover{
    color: #564DCA;
    transition: 0.3s;
}
.box3{
    display: flex;
    display: none;
    padding: 0px 30px;
    align-content: center;
    flex-wrap: wrap;
    font-size: 30px;
}
.contenthome{
    display: flex;
    margin-top: 65px;
    max-width: 100%;
    padding: 0px 100px;
    flex-direction: column;
}
.wordhome{
    display: flex;
    max-width: 100%;
    color: white;
    font: 55px Poppins, sans-serif;
    justify-content: center;
    margin: 0px 0px 65px;
    text-align: center;
    margin: 100px;
}
@keyframes fadeInDown{
    from{
        opacity: 0;
    }
    to{
        transform: translateY(20px);
    }
}
.wordhome-animation{
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.imghome{
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1;
    
}
.circletime{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 55px 50px 60px;
    font: 16px Outfit, sans-serif;
    justify-content: center;
    flex-direction: column;
}
.allcircle{
    display: flex;
    justify-content: space-evenly;
}
.title3{
    display: flex;
    justify-content: center;
    font: 26px Outfit, sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
}
.circle{
    display: flex;
    background-color: white;
    height: 140px;
    width: 140px;
    border: 5px solid #00C4F4;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;

}
.circle1{
    display: flex;
    background-color: white;
    height: 140px;
    width: 140px;
    border: 5px solid #FE9400;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;
}
.circle2{
    display: flex;
    background-color: white;
    height: 140px;
    width: 140px;
    border: 5px solid #FE4782;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;
}
.circle3{
    display: flex;
    background-color: white;
    height: 140px;
    width: 140px;
    border: 5px solid #12D176;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;
}
.number{
    display: flex;
    text-align: center;
    line-height: 1;
    font-size: 35px;
    font-weight: 600;
    color: #030B15;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}
.word{
    display: flex;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    color: #030B15;
    font-family: 14px Outfit;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    margin-bottom: 18px;
    font: 14px Outfit, sans-serif;
    font-weight: 800;
}
.aboutus{
    display: flex;
    background-color: white;
    margin: 65px 0px 0px;
    padding: 0px 200px;
}
.imgaboutus{
    display: flex;
    margin-right: 50px;
    animation-name: imgaboutus;
    visibility: visible;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes imgaboutus{
    from{
        opacity: 0;
    }
    to{
        transform: translateX(30px);
    }
}
@keyframes contentaboutus{
    from{
        opacity: 0;
    }
    to{
        transform: translateX(-20px);
    }
}
.contentaboutus{
    display: flex;
    margin: 0px 0px 15px;
}
.title1{
    display: flex;
    flex-direction: column;
    animation-name: contentaboutus;
    visibility: visible;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.title2{
    font: 45px Poppins, sans-serif;
}
.content1{
    color: #727885;
    font: 16px Outfit, sans-serif;
    margin-bottom: 20px;
    width: 80%;
}
.content2{
    font: 16px Outfit, sans-serif;
    padding-left: 15px;
}
h2{
    margin: 0px;
}
h1{
    margin: 0px 0px 20px;
}
.box4{
    display: flex;
    padding: 10px 30px;
    margin-top: 40px;
    background-color: #564DCA;
    color: white;
    width: 180px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.box4:hover{
    background-color: #00C4F4;
    transition: 0.3s;
}
.aboutus2{
    display: flex;
    flex-direction: column;
}
.background3{
    display: flex;
    content: "";
    position: absolute;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_shape01.png);
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 25px;
    z-index: 2;
    left: 0;
}
.background4{
    display: flex;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_bg.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    padding: 130px 0 218px;
    width: 100%;
    height: 700px;
    padding-bottom: 0px;
    left: 0;
}
.cover{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}
.contentaboutus2{
    display: flex;
    color: white;
    width: 100%;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 3;
}
.title4{
    display: flex;
    font: 42px Poppins, sans-serif;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}
.row{
    display: flex;
    z-index: 3;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 50px;
    padding-bottom: 100px;
}
.box5{
    display: flex;
    z-index: 3;
    flex-direction: column;
}
.word1{
    display: flex;
    font: 22px Poppins, sans-serif;
    color: white;
    padding-top: 30px;
    width: 60%;
    text-align: left;
}
.word1-2{
    display: flex;
    font: 22px Poppins, sans-serif;
    color: white;
    padding-top: 30px;
    width: 70%;
    text-align: left;
}
.word1:hover{
    color: #00C4F4;
}
.word1-2:hover{
    color: #00C4F4;
}
.word2{
    display: flex;
    font: 15px Outfit, sans-serif;
    color: #A4B4C3;
    padding-top: 30px;
    width: 60%;
    text-align: left;
}
.box6{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    padding: 64px 75px 33px;
    flex-direction: row;
    z-index: 3;
}
.box6-1{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 100px;
    z-index: 3;
}
.content6-1{
    display: flex;
    flex-direction: column;
}
.number6-1{
    display: flex;
    font: 48px Poppins, sans-serif;
    color: #030B15;
}
.word6-1{
    display: flex;
    font: 16px Outfit, sans-serif;
    color: #646580;
}
.background5{
    display: flex;
    content: "";
    position: absolute;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_shape02.png);
    background-repeat: repeat;
    width: 100%;
    height: 25px;
    z-index: 0;
    left: 0;
    bottom: -6px;
}
.roadmap{
    padding-top: 1050px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.titlemap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: underline;
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    font: 14px Outfit, sans-serif;
    font-weight: 800;
    justify-content: center;
    z-index: 2;
}
.line{
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
    opacity: 0.1;
    position: absolute;
    z-index: 1;
    transform: translateY(-213px);
}
.contentroadmap{
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 70px;
}
.contentbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 30px 30px;
    flex-direction: column;
}
.titlecolor{
    display: flex;
    color: #00C4F4;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
    letter-spacing: 0.1em;
}
.dot{
    position: absolute;
    transform: translate(50px , 20px);
    width: 32px;
    height: 32px;
    background: #00C4F4;
    opacity: 0.1;
    border-radius: 50%;
}
.wordroadmap{
    display: flex;
    position: relative;
    margin-left: 57px;
    padding-top: 80px;
    padding-left: 17px;
    flex-direction: column;
}
.wordroadmap-1{
    display: flex;
    color: #727885;
    font: 16px Outfit, sans-serif;
    width: 80%;
}
.title5{
    display: flex;
    font: 26px Outfit, sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: 0;
    font: 20px Outfit, sans-serif;
    font-weight: 600;
}
.linecolor{
    content: "";
    position: absolute;
    width: 1px;
    height: 230px;
    transform: translate(65px, 30px) ;
    background: #00C4F4;
}
.line-1{
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
    opacity: 0.1;
    position: absolute;
    transform: translateY(145px);
    z-index: 1;
}
.dot-1{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #00C4F4;
    border-radius: 50%;
    transform: translate(58px, 25px);
    z-index: 3;
}
.title6{
    display: flex;
    font: 34px Poppins, sans-serif;
    color: #00C4F4;
    width: 40%;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}
.title4-1{
    display: flex;
    padding-top: 30px;
    font: 42px Poppins, sans-serif;
    color: white;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}
.imgroadmap{
    display: flex;
    z-index: 5;
    width: 75%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 120px;
}
.imgbox{
    display: flex;
    border-radius: 0;
    filter: grayscale(100%);
    transition: all .3s ease-in-out;
    padding: 0;
    margin-bottom: 35px;
    flex-direction: column;
    z-index: 15;
}
.imgbox:hover{
    filter: none;
}
.symbol{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
.background6{
    display: flex;
    content: "";
    position: absolute;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/team_shape02.png);
    background-repeat: repeat;
    width: 100%;
    height: 25px;
    z-index: 100;
    left: 0;
}
.roadmap-1{
    display: flex;
    background-color: white;
    margin: 200px 0px 0px;
    padding: 0px 200px;
    padding-bottom: 100px;
}
.imgroadmap-1{
    display: flex;
    margin-right: 50px;
    animation-name: contentaboutus;
    visibility: visible;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.imgroadmap-2{
    display: flex;

}
.contentroadmap-1{
    animation-name: imgaboutus;
}
.background7{
    display: flex;
    background: #F3F6FC;
    padding: 120px 0 130px;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background8{
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/images/faq_shape03.png);
    position: absolute;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.titlefaq{
    display: flex;
    background-color: white;
    padding: 37px 100px 37px 55px;
    width: 70%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    left: 100px;
    border-radius: 80px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s;
}
.titlefaq-1{
    font: 24px Poppins;
}
.shape{
    transform: translate(-70px, 30px);
    height: fit-content;
    animation: shape 10s linear 0s infinite;
    -webkit-animation: shape 10s linear 0s infinite;
    -moz-animation: shape 10s linear 0s infinite;
    -o-animation: shape 10s linear 0s infinite; 
    margin-top: 380px;
}
.shape-1{
    transform: translate(-1200px, 400px);
    animation-name: shape-1;
    animation-timing-function: 4s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes shape{
    from {
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    }
    to {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    }
}
@keyframes shape-1{
    from {
        transform: translate(-1200px, 400px);
    }
    to {
        transform: translate(-1160px, 400px);
    }
}
.titlefaq:hover{
    border-radius: 0;
    border-bottom: #00C4F4;
    transition: forwards;
}
.contactleft{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.contactright{
    display: flex;
    width: 50%;
    flex-direction: column;
    transform: translateX(-150px);
}
.title7{
    padding-left: 200px;
    font-size: 45px;
    z-index: 5;
    color: white;
    margin-bottom: 30px;
}
.box7{
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(246, 246, 246, 0.06);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    display: flex;
    align-items: center;
    transform: translateX(200px);
    width: 50%;
    height: 80px;
    margin-bottom: 15px;
}
.box8{
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(246, 246, 246, 0.06);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    display: flex;
    align-items: center;
    transform: translateX(200px);
    width: 50%;
    height: 80px;
    margin-bottom: 15px;
}
.content3{
    display: flex;
    color: #FFFFFF;
    width: 60%;
    font-size: 16px;
}
.content4{
    display: flex;
    color: #FFFFFF;
    width: 60%;
    font-size: 16px;
    padding-left: 20px;
    opacity: 0.5;
}
.box8:active{
    background-color: white;
    color: white;
}
.email{
    display: flex;
    width: 40%;
    border: 1px solid #ECEEF3;
    border-radius: 4px;
    background: #F3F6FC;
    font-size: 16px;
    font-weight: 400;
    color: #030B15;
    padding: 26px 215px 26px 25px;
    line-height: 1.25;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
.contentemail{
    display: flex;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    padding: 70px 40px 65px;
    transform: translateY(1800px);
    justify-content: space-between;
    align-items: center;   
}
.footerleft{
    display: flex;
    font-weight: 500;
    font: 16px Outfit, sans-serif;
}
.boxleft{
    display: flex;
    color: #030B15;
    font: 16px Outfit, sans-serif;
    padding-right: 60px;
    transform: translateX(80px);
    cursor: pointer;
}
.boxleft:hover{
    color: #00C4F4;
    transition: 0.3s;
}
.footerright{
    display: flex;
    align-items: center;
    transform: translateX(-200px)
}
.symbolhome{
    position: absolute;
    left: 100px;
    bottom: 90px;
    z-index: 100;
}
.boxsymbol{
    font-size: 15px;
    color: #081A39;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: 0s;
    border-color: #081A39;
    margin-bottom: 15px;
    transform: translateY(150px);
    cursor: pointer;
}
.scroll{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 40px;
    bottom: 90px;
    transform: translateY(150px);
    z-index: 30;
}
.contentscroll{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.515em;
    color: #081A39;
    transform: rotate(-90deg);
    margin-bottom: 120px;
    opacity: 0.4;
}
.end{
    border-top: 1px solid #F0F3F9;
    padding: 40px 40px;
    transform: translateY(1800px);
    justify-content: space-between;
}
.cross{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #564DCA;
    padding: 0 0;
    border: none;
    color: #fff;
    font-size: 17px;
    margin: -60px auto 15px;
    cursor: pointer;
}
.end1{
    display: flex;
    justify-content: space-between;
}
.center-1{
    display: flex;
    font-weight: 500;
    font: 16px Outfit, sans-serif;
}
.cross:hover{
    background-color: #00C4F4;
    transition: 0.3s;
}
.boxright{
    display: flex;
    color: #030B15;
    font: 16px Outfit, sans-serif;
    padding-right: 60px;
    cursor: pointer
}
.boxright:hover{
    color: #00C4F4;
    transition: 0.3s;
}
.arround{
    display: flex;
    flex-direction: column;
    transform: translate(-60px, 60px);
}
.contenteng{
    transform: translateY(50px);
    display: flex;
    background-color: #081A39;
    flex-direction: column;
    width: 100px;
    /* opacity: 0; */
}
.boxeng{
    display: flex;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 5px;
}