body{
    /* background-color: black; */
    font: 14px Outfit, sans-serif;
}
.container{
    display: inline-block;
    width: 100%;
}
.background1{
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_bg02.jpg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: -1;
}
.background2{
    position: absolute;
    left: 0;
    bottom: -40px;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 722px;
    z-index: 0;
}
@keyframes header-animation{
    from{
        background-color: none;
    }
    to{
        background-color: black;
    }
}
.overheader{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    position: fixed;
    z-index: 9999;
    justify-content: space-between;
    animation-name: header-animation;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.header{
    display: flex;
    width: 100%;
    padding: 15px 15px;
    color: white;
    max-width: 100%;
    justify-content: space-between;
}
.right{
    display: flex;
    margin-left: 0px;
}
.left{
    display: flex;
}
.center{
    display: flex;

}
.box:hover{
    color: #00C4F4;
}
.box{
    display: flex;
    padding: 0px 30px;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    font-weight: bold;
}
.box1{
    display: flex;
    padding: 10px 30px;
    background-color: #00C4F4;
    width: 100px;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 130px;
    font-weight: bold;
}
.box2{
    display: flex;
    padding: 0px 10px 0px 30px;
    align-content: center;
    flex-wrap: wrap;
    font: 16px Outfit, sans-serif;
}
i:hover{
    background-color: #564DCA;
}
.box3{
    display: flex;
    display: none;
    padding: 0px 30px;
    align-content: center;
    flex-wrap: wrap;
    font-size: 30px;
}
.contenthome{
    display: flex;
    margin-top: 65px;
    max-width: 100%;
    padding: 0px 100px;
    flex-direction: column;
}
.wordhome{
    display: flex;
    max-width: 100%;
    color: white;
    font: 55px Poppins, sans-serif;
    justify-content: center;
    margin: 0px 0px 65px;
    text-align: center;
    margin: 100px;
}
@keyframes fadeInDown{
    from{
        opacity: 0;
    }
    to{
        transform: translateY(20px);
    }
}
.wordhome-animation{
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.imghome{
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1;
    
}
.circletime{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 55px 50px 60px;
    font: 16px Outfit, sans-serif;
    justify-content: center;
    flex-direction: column;
}
.allcircle{
    display: flex;
    justify-content: space-evenly;
}
.title3{
    display: flex;
    justify-content: center;
    font: 26px Outfit, sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
}
.circle{
    display: flex;
    background-color: white;
    height: 140px;
    width: 140px;
    border: 5px solid #00C4F4;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;

}
.circle1{
    display: flex;
    background-color: white;
    height: 140px;
    width: 140px;
    border: 5px solid #fd7e14;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;
}
.circle2{
    display: flex;
    background-color: white;
    height: 140px;
    width: 140px;
    border: 5px solid #dc3545;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;
}
.circle3{
    display: flex;
    background-color: white;
    height: 140px;
    width: 140px;
    border: 5px solid #198754;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;
}
.number{
    display: flex;
    text-align: center;
    line-height: 1;
    font-size: 35px;
    font-weight: 600;
    color: #030B15;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}
.word{
    display: flex;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    color: #030B15;
    font-family: 14px Outfit;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    margin-bottom: 18px;
    font: 14px Outfit, sans-serif;
    font-weight: 800;
}
.aboutus{
    display: flex;
    background-color: white;
    margin: 65px 0px 0px;
    padding: 0px 200px;
}
.imgaboutus{
    display: flex;
    animation-delay: 0.2s;
    margin-right: 50px;
}
.contentaboutus{
    display: flex;
    margin: 0px 0px 15px;
}
.title1{
    display: flex;
    flex-direction: column;
}
.title2{
    font: 45px Poppins, sans-serif;
}
.content1{
    color: #727885;
    font: 16px Outfit, sans-serif;
    margin-bottom: 20px;
    width: 80%;
}
.content2{
    font: 16px Outfit, sans-serif;
    padding-left: 15px;
}
h2{
    margin: 0px;
}
h1{
    margin: 0px 0px 20px;
}
.box4{
    display: flex;
    padding: 10px 30px;
    margin-top: 40px;
    background-color: #564DCA;
    color: white;
    width: 180px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
}
.aboutus2{
    display: flex;
    flex-direction: column;
}
.background3{
    display: flex;
    content: "";
    position: absolute;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_shape01.png);
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 25px;
    z-index: 2;
    left: 0;
}
.background4{
    display: flex;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_bg.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    padding: 130px 0 218px;
    padding-bottom: 0px;
    z-index: 1;
    left: 0;
    width: 100%;
}
.cover{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contentaboutus2{
    display: flex;
    color: white;
    width: 100%;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.title4{
    display: flex;
    font: 42px Poppins, sans-serif;
    color: white;
    padding-top: 30px;
    width: 40%;
    flex-direction: column;
}
.row{
    padding-top: 50px;
    display: flex;
    z-index: 3;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 50px;
    padding-bottom: 100px;
}
.box5{
    display: flex;
    z-index: 3;
    flex-direction: column;
}
.word1{
    display: flex;
    font: 22px Poppins, sans-serif;
    color: white;
    padding-top: 30px;
    width: 60%;
    text-align: left;
}
.word1-2{
    display: flex;
    font: 22px Poppins, sans-serif;
    color: white;
    padding-top: 30px;
    width: 70%;
    text-align: left;
}
.word1:hover{
    color: #00C4F4;
}
.word1-2:hover{
    color: #00C4F4;
}
.word2{
    display: flex;
    font: 15px Outfit, sans-serif;
    color: #A4B4C3;
    padding-top: 30px;
    width: 60%;
    text-align: left;
}
.box6{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    padding: 64px 75px 33px;
    flex-direction: row;
    z-index: 3;
}
.box6-1{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 100px;
    z-index: 3;
}
.content6-1{
    display: flex;
    flex-direction: column;
}
.number6-1{
    display: flex;
    font: 48px Poppins, sans-serif;
    color: #030B15;
}
.word6-1{
    display: flex;
    font: 16px Outfit, sans-serif;
    color: #646580;
}
.background5{
    display: flex;
    content: "";
    position: absolute;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_shape02.png);
    background-repeat: repeat;
    width: 100%;
    height: 25px;
    z-index: 0;
    left: 0;
}
.background6{
    background-color: #FFFFFF;
    position: absolute;
    z-index: 999;
}