body{
    background-color: black;
    font: 14px Outfit, sans-serif;
}
.container{
    display: inline-block;
}
.header{
    display: flex;
    padding: 10px 20px;
    color: white;
    max-width: 100%;
    justify-content: space-between;
    /* z-index: 9999; */
}
.right{
    display: flex;
}
.left{
    display: flex;
}
.center{
    display: flex;
}
.box{
    display: flex;
    padding: 0px 30px;
    align-content: center;
    flex-wrap: wrap;
}
.box1{
    display: flex;
    padding: 10px 30px;
    background-color: #00C4F4;
    width: 100px;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 130px;
}
.box2{
    display: flex;
    padding: 0px 10px 0px 30px;
    align-content: center;
    flex-wrap: wrap;
    font: 16px Outfit, sans-serif;
}
.box3{
    display: flex;
    display: none;
    padding: 0px 30px;
    align-content: center;
    flex-wrap: wrap;
    font-size: 30px;
}
.contenthome{
    display: flex;
    margin-top: 65px;
    max-width: 100%;
    padding: 0px 100px;
    flex-direction: column;
}
.wordhome{
    display: flex;
    max-width: 100%;
    color: white;
    font: 55px Poppins, sans-serif;
    justify-content: center;
    margin: 0px 0px 65px;
    text-align: center;
}
.imghome{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.circletime{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 55px 50px 60px;
    font: 16px Outfit, sans-serif;
    justify-content: center;
}
.title{
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    margin-bottom: 18px;
    font: 14px Outfit, sans-serif;
}
.aboutus{
    display: flex;
    background-color: white;
    margin: 65px 0px 0px;
    padding: 0px 100px;
}
.imgaboutus{
    display: flex;
    animation-delay: 0.2s;
}
.contentaboutus{
    display: flex;
    margin: 0px 0px 15px;
}
.title1{
    display: flex;
    flex-direction: column;
}
.title2{
    font: 45px Poppins, sans-serif;
}
@media only screen and (min-width: 1200px){
    /* .container{
        justify-content: center;
    }
    .header{
        
    }
    .box2{
        display: none;
    }
    .fa-chevron-down:before{
        display: none;
    } */
}
@media only screen and (max-width: 1200px) and (min-width: 992px){
    .container{
        justify-content: center;
    }
    /* .header{
        
    } */
    .box2{
        display: none;
    }
    .fa-chevron-down:before{
        display: none;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px){
    .box{
        display: none;
    }
    .box2{
        display: none;
    }
    .box3{
        display: block;
    }
    .fa-chevron-down:before{
        display: none;
    }
}
@media only screen and (max-width: 767px){
    .box{
        display: none;
    }
    .box1{
        display: none;
    }
    .box2{
        display: none;
    }
    .box3{
        display: block;
    }
    .fa-chevron-down:before{
        display: none;
    }
}