@media only screen and (max-width: 1800px) and (min-width: 1200px){
    /* .header{
        justify-content: center;
    } */
    .container{
        max-width: 1550px;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 1199.98px) and (min-width: 992px){
    .container{
        justify-content: center;
    }
    .header{
        justify-content: space-between;
    }
    .scroll{
        display: none;
    }
    .symbolhome{
        display: none;
    }
    .wordhome{
        margin-left: 0;
        margin-right: 0;
    }
    .fa-minus{
        display: none;
    }
    .box1{
        margin-left: 0px;
    }
    .box2{
        display: none;
    }
    .fa-chevron-down:before{
        display: none;
    }
    .contenthome{
        padding: 0px 50px;
    }
    .imghome{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 991.98px) and (min-width: 767.98px){
    .container{
        flex-wrap: wrap;
    }
    .overheader{
        max-width: 100%;
    }
    .box{
        display: none;
    }
    .box2{
        display: none;
    }
    .box3{
        display: block;
    }
    .fa-chevron-down:before{
        display: none;
    }
    .scroll{
        display: none;
    }
    .symbolhome{
        display: none;
    }
    .shape{
        display: none;
    }
    .aboutus{
        padding: 0px 50px;
    }
    .roadmap-1{
        padding: 0px 50px;
    }
    .cover{
        margin-top: 300px;
    }
    .box6{
        flex-wrap: wrap;
        margin-bottom: 200px
    }
    .imgroadmap{
        flex-wrap: wrap;
        justify-content: center;
    }
    .background4{
        height: 1000px;
    }
    .roadmap{
        margin-top: 100px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .box{
        display: none;
    }
    .container{
        width: 200%;
    }
    .box1{
        display: none;
    }
    .box2{
        display: none;
    }
    .box3{
        display: block;
    }
    .fa-chevron-down:before{
        display: none;
    }
    .background3{
        width: 200%;
    }
    .background4{
        width: 200%;
    }
    .scroll{
        display: none;
    }
    .symbolhome{
        display: none;
    }
    .background1{
        width: 200%;
    }
    .background3{
        width: 200%;
    }
    .background4{
        width: 200%;
    }
    .box6{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .box3{
        display: block;
    }
}