body{
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    font-weight: 400;
    font-style: normal;
    color: #373737;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: none;
    outline: none;
    overflow: clip;
}
.container{
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 100px;
}
.number{ 
    display: flex;
    color: #F26464;
    font-size: 40px;
    font-weight: bold;
}
.title{
    display: inline-block;
    width: fit-content;
    border-bottom: 3px solid #F26464;
    margin-bottom: 30px;
    font-weight: bold;
    margin-right: 10px;
    display: block;
    margin-top: 50px;
    font-size: 17px;
}
.core{
    display: flex;
    vertical-align: top;
    display: inline-block;
    width: 49%;
    margin-top: 30px;
    /* margin-right: 50px; */
}
.other{
    display: flex;
    vertical-align: top;
    display: inline-block;
    width: 50%;
    margin-top: 30px;
}
.ngang{
    display: inline-block;
    margin-right: 30px;
}
.button{
    text-align: center;
    font-size: 13px;
    border-color: #F26464;
    border-radius: 30px;
    color: #F26464;
    text-decoration: #F26464;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 40px;
}
.anhnd{
    display: flex;
}
.anh{
    display: flex;
    width: 49%;
    margin-right: 50px;
    position: relative;
}
.noidung{
    vertical-align: top;
    display: inline-block;
    width: 500px;
    position: relative;
}
.greeting{
    display: flex;
    font-family: 'Inter', sans-serif;
}
.overview{
    display: flex;
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
}
.career{
    display: flex;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
}
.skills{
    display: flex;
    vertical-align: top;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.content{
    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}
.o{
    display: inline-block;
    margin-top: 30px;
    margin-right: 15px;
    border-radius: 30px;
    border: solid 1.8px;
    border-style: ridge;
    font-size: 18px;
    padding: 10px 15px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 30px 0px;
    left: 0px;
    right: 0px;
    height: auto;
    background-color: #FFF;
    z-index: 9999;
}
.logoleft{
    display: flex;
    padding-left: 60px;
}
.logoright{
    display: inline-block;
    margin-right: 0px;
    width: 100px;
    justify-content: space-between;
}
.jlogo{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
    padding: 11px;
}
.expwork{
    padding-top: 15px;
}
.matrix{
    Vertical-align: top;
    display: inline-block;
    width: 45%;
    margin-right: 30px;
}
.year{
    font-size: 15px;
    font-weight: bold;
    color: #373737;
}
.dong3{
    color: #373737;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 30px;
    font-weight: bold;
}
.oto{
    display: flex;
    vertical-align: top;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 30px;
    background-color: #F6F8FA;
    margin-bottom: 40px;
}
.pic{
    display: flex;
    width: 45%;
    max-width: 50%;
    height: fit-content;
}
.chu{
    display: inline-block;
    font-size: 20px;
    width: 45%;
}
.end{
    background-color: #000;
    width: 100%;
}
.contentend{
    display: block;
    text-align: center;
}
button:hover{
    color: #FFF;
    background-color: #F26464;
}
figure {
    margin: 0;
} 
.contentend .footer-text{
    margin-bottom: 0;
    padding-bottom: 20px;
}
.logi{
    justify-content: space-between;
    border-radius: 100%;
    color: #F26464;
    size: 300px;
}
.ja{
    display: flex;
    font-size: 20px;
    align-content: center;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .overview{
        margin: 0 auto;
    }
    .anh{
        width: 100%;
        height: 50%;
        justify-content: center;
    }
    .container{
        justify-content: center;
    }
    .career{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px){
    .ja{
        display: none;
    }
    .anh{
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }
    .skills{
        flex-direction: column;
    }
    .anhnd{
        flex-direction: column;
    }
    .noidung{
        width: 100%;
        justify-content: center;
    }
    .career{
        flex-direction: column;
    }
    .core{
        width: 100%;
    }
    .other{
        width: 100%;
    }
    .matrix{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .oto{
        flex-direction: column;
    }
    .oto.chu{
        width: 100%;
    }
    .oto.pic{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    img{
        width: 100%;
    }
}
