.container{
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-family: Plus Jakarta Sans;
}
.title{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    width: Fixed (180px) px;
    height: 100px;
    top: 38px;
    left: 50px;
    gap: 5px;
    opacity: 0px;

}
.plus{
    display: flex;
    opacity: 0.7;
    align-items: flex-end;
    top: 88px;
    left: 1631px;
    gap: 0px;
    transform: translateY(-15px);
    font-size: 20px;
    cursor: pointer;
}
.main{
    display: flex;
}
.todo{
    /* display: flex;
    flex-direction: row;
    width: 376px;
    height: 34px;
    top: 141px;
    left: 48px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    background-color: #00A6DA;
    color: white;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between; */
}
.minibox{
    width: 20px;
    height: 20px;
    left: 336.48px; 
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    background: #00CDDA;
    margin-right: 10px;
}
.box{
    display: flex;
    width: 366px;
    height: 34px;
    top: 140px;
    left: 487px;
    margin-left: 30px;
    padding-left: 10px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    background-color: #CCAC038F;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.line{
    width: 374px;
    height: 2px;
    top: 191px;
    left: 50px;
    margin-top: 13px;
    margin-left: 30px;
    gap: 0px;
    border: 2px;
    opacity: 0px;
}
.newtaskscontent{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    border-radius: 10px;
    z-index: 5;
}
.newtasks{
    width: 500px;
    height: 300px;
    background-color: white;
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
}
input{
    margin-bottom: 10px;
    width: 450px;
    
}
button{
    width: 460px;
    height: 23px;
}
.text{
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.fa-solid.fa-xmark {
    font-weight: 900;
    transform: translateX(230px);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: calc(+45%);
}
.backgroundop{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.todo-num{
    transform: translateX(158px);
}
.doing-num{
    transform: translateX(155px);
}
.completed-num{
    transform: translateX(131px);
}
.blocked-num{
    transform: translateX(138px);
}
body{
    overflow: hidden;
}
.blockscope{
    display: flex;
    margin-top: 10px;
}
